DISCORD_TOKEN= YOUR_DISCORD_TOKEN
GUILD_ID= YOUR_DISCORD_GUILD_ID
WELCOME_CHANNEL_ID= YOUR_DISCORD_WELCOME_CHANNEL_ID
LOG_CHANNEL_ID= YOUR_DISCORD_LOG_CHANNEL_ID
MEMBER_ROLE_ID= YOUR_DISCORD_MEMBER_ROLE_ID
CHAT_CHANNEL_ID= YOUR_DISCORD_CHAT_CHANNEL_ID
SUPPORT_CHANNEL_ID= YOUR_DISCORD_SUPPORT_CHANNEL_ID
WELCOME_BANNER_URL= YOUR_DISCORD_WELCOME_BANNER_URL
WELCOME_BACKGROUND_URL= YOUR_DISCORD_WELCOME_BACKGROUND_URL